@font-face {
    font-family: 'FSGLA';
    src: 
        url('../webfonts/FSGLA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.gla{font-family: 'FSGLA';}
body {
    font-family: sans-serif;
    background: url(../pozadina.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.centriraj {
    display: none;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 10%
}

body::after {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top left, rgba(247, 249, 251, 0.75), rgba(250, 200, 190, 0.55));
    background-image: -ms-linear-gradient(top left, rgba(247, 249, 251, 0.75), rgba(250, 200, 190, 0.55));
    background-image: -webkit-linear-gradient(top left, rgba(247, 249, 251, 0.75), rgba(250, 200, 190, 0.55));
    background-image: -o-linear-gradient(top left, rgba(247, 249, 251, 0.75), rgba(250, 200, 190, 0.55));
    background-image: linear-gradient(to bottom right, rgba(247, 249, 251, 0.75), rgba(250, 200, 190, 0.55));
    background-size: auto;
}

.krug {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 20px;
    cursor: pointer;
    caret-color: transparent;
    transition: background 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.sekcija {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.polje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oznaka {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.aktivno {
    background: none;
}

.aktivno::before {
    content: "+";
    color: black;
}

.tocno {
    color: rgb(0, 128, 0)
}

.netocno {
    color: #bb422a
}

.slovo {
    font-size: 3em;
    margin: 0;
    margin-bottom: 10px
}

.slikica {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block
}

.hint{font-size: 1.5em; cursor:pointer}

.bodovi{font-size:24px; font-weight: 600}

.tooltip {
    position: relative;
    display: inline-block;}
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.swal2-modal .swal2-content{color:black}

/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
    font-size: 180px
}
.col:nth-child(2){ font-size: 180px}
/*  GROUPING  */

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}


.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

#znakovi{
    background-color: rgb(235, 73, 71);
border-left-color: rgb(235, 73, 71);
border-right-color: rgb(235, 73, 71);
}
.mini{font-size: 18px!important}

.mini img{max-height: 100px}
/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {

    .col:first-child, .col:nth-child(2), .mini2, .mini3{font-size: 40px!important}
    .col:nth-child(2){display: none}
    .col {
        margin: 1% 0 1% 0%;
    }
    .mini{font-size: 14px!important}
    .span_3_of_3, .span_2_of_3, .span_1_of_3, .span_1_of_2  {
        width: 100%;
    }
    .mini{width: 50%;}
    .slikica{max-height: 120px;}
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
    height: 40px!important;
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  color: #333;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

select:hover {
  border-color: #999;
  background-color: #f9f9f9;
}

select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8"><path fill="%23333" d="M0 0l6 6 6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 8px;
  padding-right: 30px;
}