@font-face {
    font-family: 'FSGLA';
    src: url('../fonts/FSGLAA.woff2') format('woff2'),
        url('../fonts/FSGLAA.woff') format('woff'),
        url('../fonts/FSGLAA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media (hover: none) {
    .questions-page__answer-div:hover {
        background: none;
    }
    
    .questions-page__answer-div:hover li{
        background: none;
    }
  }



.gla{font-family: 'FSGLA';text-shadow: 1px 1px 2px #c22626;}
/* ----------------------------
STYLES/LAYOUT
---------------------------- */


  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: rotate 1s linear infinite
  }
  #loader::before , #loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  #loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #3228B0;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }

.sakri{display: none}
.sivo {
    padding-top:20px; 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.sivo:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
.logo{
    max-height: 300px;
                    margin-left: auto;
                    display: block;
                    margin-right: auto; margin-top:20px
}
html {
    font-size: 60%;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1rem;
    font-family: serif;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 480px;
    transition: background-color 1000ms linear;
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}


body::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -webkit-linear-gradient(top left,  rgb(255 247 247 / 80%), rgb(255 255 255 / 55%));
    background-image: -o-linear-gradient(top left,  rgb(255 247 247 / 80%), rgb(255 255 255 / 55%));
    background-image: linear-gradient(to bottom right, rgb(255 247 247 / 80%), rgb(255 255 255 / 55%));
    background-size: auto;
}

.modal {
    position: relative;
    width: 500px;
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    background: white;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 30px 10px;
    border-radius: 20px;
    overflow-y: auto;}

.modal-overlay {
    background: rgba(173, 164, 164, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#form-submit:disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

#progressBar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px
}

.questions-page__continue-btn {
    display: none !important
}

.questions-page__question {
    padding-top: 20px
}

#opis {
    text-align: center
}
figcaption{ margin-top:10px}
.opis{text-align: justify;}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
i {
    margin: 0;

}

form {
    margin-top: 20px;
}

.swal2-styled.swal2-confirm{background: linear-gradient(#3228B0, #2c1c9a);}
/* Container divs*/
.swal2-actions:not(.swal2-loading) .swal2-styled:hover{    background: -webkit-linear-gradient(#2c1c9a,#3228B0);
    background: linear-gradient(#2c1c9a,#3228B0);}
.init-page,
.questions-page,
.results-page {
    height: 100%;
}

.container {
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.container2 {}


/* Button */

.btn,
#form-submit {
    margin: 1rem auto 0;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
    background: -webkit-linear-gradient(#3228B0, #2c1c9a);
    background: linear-gradient(#3228B0, #2c1c9a);
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.senka {
    box-shadow: 2px 2px 5px #888888;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn:hover,
#form-submit:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(#2c1c9a,#3228B0);
    background: linear-gradient(#2c1c9a,#3228B0);
}


/* TITLE PAGE */

.init-page__title {
    margin: 0;
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 60px;
}

.init-page__icon {
    font-size: 20rem;
    margin: 0;
}


/* QUESTIONS PAGE*/

.questions-page__question {
    font-size: 1.8rem;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.questions-page__answer-list {
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.questions-page__answer-line {
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #bb422a;
    border-radius: 5px;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 10px;
    height: 70px;
    vertical-align: middle;
    position: relative;
    background: #ffffffd4;
}

.questions-page__answer-line span{  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.questions-page__selection-div {
    float: left;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.questions-page__feedback-div {
    float: right;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.odabir {
    background: rgba(187, 222, 251, 0.65);
    border-radius: 5px;
}

.questions-page__answer-div:hover {
    background: rgba(187, 222, 251, 0.3);
}

.questions-page__answer-div:hover li{
    background: rgba(187, 222, 251, 0.3);
}

.questions-page--correct:hover li{
    background: rgba(197, 225, 165, 1);
}


.questions-page--incorrect:hover li{
    background: rgba(255, 158, 128, 1);
}


.odabir:hover {
    background: rgba(187, 222, 251, 0.65);
}

.questions-page--correct {
    background: #C5E1A5;
    border-radius: 5px;
}
.questions-page--correct li{background: #C5E1A5;}
.questions-page--incorrect {
    background: #FF9E80;
}

.questions-page--incorrect li{
    background: #FF9E80;
}


.questions-page--correct:hover {
    background: rgba(197, 225, 165, 1);
    border-radius: 5px;
}

.questions-page--incorrect:hover {
    background: rgba(255, 158, 128, 1);
}

.btn-holder {
    height: 4.5rem;
}


/* RESULTS PAGE */

.results-page__info {
    font-size: 2rem;
}

.results-page__info2 {
    font-size: 2rem;
}

.results-page__bodovi {
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.results-page__spanish-btn {
    margin-top: 3rem;
}

.results-page__spanish-btn-link {
    text-decoration: none;
}

.slikica {
    max-width: 100%;
    max-height: 100px;
    border-radius: 5px;
    margin-top: 20px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.definicija{font-size: 3rem;font-style: normal;}
.uglata{width:80%}
/* ----------------------------
MEDIA QUERIES
---------------------------- */
@media screen and (max-width: 600px) { .logo{max-height: 200px;} .questions-page__answer-list{margin-right: 5px; margin-left: 5px; }
.btn{width: 80%;}
.modal{width: 90%;}
}

@media screen and (min-width: 480px) {
    html {
        font-size: 85%;
    }

    body {
        min-height: 700px;
    }

    .container {
        width: 100%;
    }

    .slikica {
        max-height: 250px;
    }


}


@media screen and (min-width: 1680px) {
    html {
        font-size: 100%;
    }

    body {
        min-height: 800px;
    }

    .slikica {
        max-height: 200px;
    }
}

#glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000000;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0
}
.slikica2 {
    margin-top: 20px;
    max-width: 100%;
    /*max-height: 400px;*/
    display: block;
    margin: auto;
}

.begin-countdown {
    padding-top: 15px
}